<ion-view>
  <ion-content class="padding">
    <div class="list list-inset">
      <div>
        <button class='button button-block button-positive' ng-click="addActivity()">Create an Activity</button>
      </div>
    </div>

    <div class="list card" ng-repeat="activity in activities">

      <div class="item item-avatar gray">
        <!--<img src={{activity.user.image}}>-->
        <img src="../img/dummy_images/amber.jpg">
        <h2 class="activity_title">{{activity.user.name}}</h2>
        <p ng-repeat="interest in activity.user.interests">{{interest}}</p>
        <p>{{activity.created_at}}</p>
      </div>

      <div class="item item-body gray">
          <span>{{activity.category}}</span>, <span>{{activity.difficulty}}</span>
        <!--<img class="full-image" src={{activity.images[0]}}>-->
        <img class="full-image" src='../img/dummy_images/snow.jpg'>
        <h3>{{activity.title}}</h3>
        <p>
          {{activity.body}}
        </p>
        <div>
          <!-- in here put the icons -->
          <i class="icon ion-chatboxes"></i>
        </div>
      </div>

    </div>


  </ion-content>
</ion-view>
