<ion-view title="Activity Feed">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <div>
      <button class="button" ng-click="addActivity()">
        New
      </button>
    </div>
  </ion-nav-buttons>
  <ion-content class="padding has-header">
    <div class="list card" ng-repeat="activity in activities">

      <div class="item item-avatar gray">
        <img ng-src="{{activity.user.image ? activity.user.image : 'img/dummy_images/empty_image.svg'}}">
        <h2 class="activity_title">{{activity.user.name}}</h2>
        <p ng-repeat="interest in activity.user.interests">{{interest}}</p>
        <p>{{activity.created_at}}</p>
      </div>

      <div class="item item-body gray">
        <span>{{activity.category}}</span>, <span>{{activity.difficulty}}</span>
        <!--<img class="full-image" src={{activity.images[0]}}>-->
        <div class="item gray card item-inner">
          <img class="full-image" src="img/dummy_images/snow.jpg">
          <div class="padding">
            <h3>{{activity.title}}</h3>
            <p>
              {{activity.body}}
            </p>
          </div>
        </div>
        <div class='row centered'>
          <div class='col'>
            <i class="icon ion-thumbsup card-bottom"></i>
            <p>Interested</p>
          </div>
          <div class='col'>
            <i class="icon ion-android-star-outline card-bottom"></i>
            <p>Recommend</p>
          </div>
          <div class='col'>
            <i class="icon ion-person card-bottom"></i>
            <p>Follow</p>
          </div>
          <div class='col'>
            <i class="icon ion-chatboxes card-bottom"></i>
            <p>Comments</p>
          </div>
        </div>
      </div>

    </div>


  </ion-content>


  <ion-side-menus ng-show="showFilters" enable-menu-with-back-views="false" has-navbar="true" title="Filters">
    <ion-side-menu-content>
    </ion-side-menu-content>

    <ion-side-menu side="left">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Left</h1>
      </ion-header-bar>
      <ion-content>

        <ul class="list">

          <li class="item item-toggle">
            Only users I follow
            <label class="toggle toggle-positive">
              <input type="checkbox" ng-model="filters.follow">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Change Location" ng-model="filters.location">
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">Difficulty</label>
            <ion-list>
              <ion-checkbox ng-model="filters.difficulty1">1</ion-checkbox>
              <ion-checkbox ng-model="filters.difficulty2">2</ion-checkbox>
              <ion-checkbox ng-model="filters.difficulty3">3</ion-checkbox>
            </ion-list>
          </div>
          <div class="list list-inset">
            <label class="item item-input">Sport</label>
            <ion-list>
              <ion-checkbox ng-model="filters.sports1">Hiking</ion-checkbox>
              <ion-checkbox ng-model="filters.sports2">Cross-country skiing</ion-checkbox>
              <ion-checkbox ng-model="filters.sports3">Back country skiing</ion-checkbox>
              <ion-checkbox ng-model="filters.sports4">Paddling</ion-checkbox>
              <ion-checkbox ng-model="filters.sports5">Mountain biking</ion-checkbox>
              <ion-checkbox ng-model="filters.sports6">Horse riding</ion-checkbox>
              <ion-checkbox ng-model="filters.sports7">Climbing</ion-checkbox>
              <ion-checkbox ng-model="filters.sports8">Snow mobiling</ion-checkbox>
              <ion-checkbox ng-model="filters.sports9">Cross country ice skating</ion-checkbox>
              <ion-checkbox ng-model="filters.sports10">Foraging</ion-checkbox>
            </ion-list>
          </div>
        </ul>
        <button class="button button-block button-positive" ng-click="setFilters()">Filter</button>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</ion-view>
