<ion-view>
  <ion-nav-title>
    Profile
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <a class="button button-clear" nav-transition="none" href="#/activities">close</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-if="user.email" ng-controller="userSessionController" ng-click="signOut()">
      <!--<i class="icon ion-ios-person"></i>-->Logout
    </button>  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <ion-item class="profile-item">
        <div class="profile-picture big-profile-picture">
          <img src="{{user.image}}">
        </div>
        <h2 class="profile-name dark">{{user.name}}</h2>
        <div class="profile-info">{{user.interests}}</div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
