<ion-view class="auth-view" hide-nav-bar="true">

  <ion-header-bar class="signup-header auth-header">
    <div class="buttons">
        <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()">
        </button>
    </div>
    <h3 class="title">Cookies Policy</h3>
  </ion-header-bar>

  <ion-content class="padding">
    <h2>Cookies Policy</h2>
    <p>
        Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the
        Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the
    </p>
    <p>
        Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the
        Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the
    </p>
  </ion-content>
</ion-view>
