<div class="list card" ng-repeat="activity in activities">
  <div ng-controller="showActivityController">

    <div class="item item-avatar" ng-click="navigateToActivity(activity)">
      <img ng-src="{{activity.user.image ? activity.user.image : 'img/dummy_images/empty_image.svg'}}">
      <h2 class="activity_title">{{activity.user.name}}</h2>
      <p>{{activity.created_at}}</p>
    </div>

    <div>
      <span class="item card item-inner" ng-click="navigateToActivity(activity)"></span>
      <display-first-image images_for="{{activity}}"></display-first-image>
    </div>

    <div class="padding">
      <h3>{{activity.title}}</h3>
      <p ng-if="activity.body.length > 120">
        {{activity.body | limitTo: 120}} ...SEE MORE
      </p>
      <p ng-if="activity.body.length <= 120">
        {{activity.body}}
      </p>
    </div>

      <div class="row">
        <span class="difficulty-icon">
          <span class="activity-category">{{activity.category}}</span>
          <i class="icon ion-ios-ionic-outline" ng-if="activity.difficulty === 1"></i>
          <i class="icon ion-ios-ionic" ng-if="activity.difficulty === 2"></i>
          <i class="icon ion-social-angular" ng-if="activity.difficulty === 3"></i>
        </span>
      </div>

    <div class="row">
      <p ng-repeat="interest in activity.user.interests">
        <i class="mybadge badge-royal">{{interest.name | limitTo: 40}}</i>
      </p>
    </div>


    <div class="item item-divider row-no-padding">
      <div class="button-bar">

        <div class="col col-25">
          <span ng-if=activity.user.likes ng-click="unlikeActivity(activity.id);
            activity.user.likes = !activity.user.likes; activity.likes_count = activity.likes_count - 1;">
            <a class="button blue">
              <i class="icon ion-thumbsup"></i>
            </a>
          </span>

          <div ng-if=!activity.user.likes ng-click="likeActivity(activity.id, $event);
            activity.user.likes = !activity.user.likes; activity.likes_count = activity.likes_count + 1;">
            <a class="button">
              <i class="icon ion-thumbsup"></i>
            </a>
          </div>
        </div>

      <div class="col col-25">
        <span ng-if=activity.user.saves ng-click="unsaveActivity(activity.id);
          activity.user.saves = !activity.user.saves; activity.saves_count = activity.saves_count - 1;">
          <a class="button blue">
            <i class="icon ion-bookmark"></i>
          </a>
        </span>

        <span ng-if=!activity.user.saves ng-click="saveActivity(activity.id);
             activity.user.saves = !activity.user.saves; activity.saves_count = activity.saves_count + 1;">
          <a class="button">
            <i class="icon ion-bookmark"></i>
          </a>
        </span>
      </div>

        <div class="col col-25">
        <span ng-if=activity.user.following ng-click="unfollowUser(activity.user.id);
          activity.user.following = !activity.user.following; activity.user.followers_count = activity.user.followers_count - 1">
          <a class="button blue">
            <i class="icon ion-person"></i>
          </a>
        </span>

        <span ng-if=!activity.user.following ng-click="followUser(activity.user.id);
          activity.user.following = !activity.user.following; activity.user.followers_count = activity.user.followers_count + 1">
          <a class="button">
            <i class="icon ion-person"></i>
          </a>
        </span>
        </div>

        <div class="col col-25">
          <a class="button">
            <i class="icon ion-chatboxes"></i>
          </a>
        </div>

      </div>
  </div>
</div>




