<ion-view cache-view="false" can-swipe-back="true" class="profile-view">

  <ion-content scroll="false">
    <div class="row row-no-padding">
      <div class="col user-col">
        <div class="user-image-container" ng-controller="usersProfileController">
          <pre-img ratio="_1_1" helper-class="avatar-image">
            <img ng-src="{{profileImage()}}" spinner-on-load>
          </pre-img>
        </div>
        <h2 class="user-name">{{user.name}}</h2>
        <a ui-sref="main.profile">
          <h5 class="username">@{{user.nickname}}</h5>
        </a>
        <p class="user-social" ng-if="user.description">
          {{user.description}}
        </p>
        <p class="user-social">
          <i class="ion-heart"></i>
          <span>74</span> &nbsp;
          <i class="ion-location"></i>
          <span>{{user.city}}</span>
        </p>
        <div class="row">
          <div class="col">
            <p class="user-bio">{{user.interest_list}}</p>
          </div>
        </div>
      </div>
    </div>
    <ion-list class="profile-list">
      <ion-item>
        Test
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
